/* 外壳样式 */
.header{
  background-color: #108ee9;
}
.title_con{
  background: url(../assets/title-yellow.png) no-repeat center 21px;
  height: 314px;
  clear: both;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.title_con h1{
  color: #fff;
  font-size: 30px;
  width: 310px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: relative;
  top: 80px;
  left: 17px;
  font-weight: normal;
}